<div class="container">
	<div class="loader">
		<div class="loader__container">
			<img class="loader__film-img" src="https://i.imgur.com/m2u9S8M.png" alt="" />
		</div>
	</div>
	<ul class="container-film gallery-js">
		{{> ./film-card.hbs this}}
	</ul>
</div>