<footer class="footer">
    <div class="container footer-wraper">

        <span class="footer-text">© 2020 | All Rights Reserved |&nbsp









            {{!-- <svg class="like-svg-icon" width="10px" height="16px">
                <use href="../images/icon-svg/sprite.svg#hart"></use>
            </svg> --}}




        </span>
        <span class="students-link footer-text">Developed with by <a href="" class="footer-text">GoIT
                Students</a></span>

    </div>
</footer>