<header class="header">

  <div class="container">

    <div class="nav">

      <svg class="logo-svg" width="24" height="24">
        <use href=""></use>
      </svg>

      <ul>
        <li>Home</li>
        <li>My library</li>
      </ul>

      <svg class="search-svg" width="12" height="12">
        <use href=""></use>
      </svg>

    </div>

    <form action="#">
      <label for="query"></label>
      <input id="query" type="search" size="40" placeholder="Поиск фильмов" />
    </form>

  </div>

</header>
;