<header class="header">

  <div class="header-content-wrapper container">

    <div class="header-nav">

      <div class="header-logo-wrapper">
        {{!-- <svg class="logo-svg" width="24" height="24">
        <use href=""></use>
      </svg> --}}
        <div style="background-color: white;  width:24px; height: 24px">
        </div>
        <span class="header-logo-title">Filmoteka</span>
      </div>
      <ul class="header-list">
        <li class="header-list-item">Home</li>
        <li class="header-list-item">My library</li>
      </ul>

    </div>

    <label class="header-form" for="query">
      <input id="query" class="header-input" type="search" size="40"
        placeholder="Поиск фильмов" />
      <svg class="search-svg" width="12" height="12">
        <use href=""></use>
      </svg>
    </label>

    <span class="header-notification visually-hidden">Search result not successful. Enter
      the correct
      movie name and try again</span>

  </div>

</header>