<div class="loader">
  <div class="loader__container">
    <div class="loader__film">
      <img class="loader__film-img" src="https://i.imgur.com/z9nR1cc.png" alt="" />
      <img class="loader__film-img" src="https://i.imgur.com/z9nR1cc.png" alt="" />
    </div>
    <img class="loader__camera" src="https://i.imgur.com/luPVMYP.png" alt="" />
  </div>
</div>