{{!-- <ul>
	{{#each data}}
	<li>{{this}}</li>
	{{/each}}
</ul> --}}

<div class="pagination-container container">
	<ul class="page-btn_list">
		<li class="arrow-btn">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16"
				height="16" viewBox="0 0 32 32">
				<title>arrow-left</title>
				<path fill="none" stroke-linejoin="round" stroke-linecap="round"
					stroke-miterlimit="4" stroke-width="2.6667" stroke="#000"
					d="M25.333 16h-18.667"></path>
				<path fill="none" stroke-linejoin="round" stroke-linecap="round"
					stroke-miterlimit="4" stroke-width="2.6667" stroke="#000"
					d="M16 25.334l-9.333-9.333 9.333-9.333"></path>
			</svg>
		</li>
		<li class="page-btn">1</li>
		<li class="page-btn">2</li>
		<li class="page-btn">3</li>
		<li class="page-btn">4</li>
		<li class="page-btn">5</li>
		<li class="page-btn">6</li>
		<li class="page-btn">7</li>
		<li class="page-btn">8</li>
		<li class="page-btn">9</li>
		<li class="page-btn">10</li>
		<li class="arrow-btn">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16"
				height="16" viewBox="0 0 32 32">
				<title>arrow-left-1</title>
				<path fill="none" stroke-linejoin="round" stroke-linecap="round"
					stroke-miterlimit="4" stroke-width="2.6667" stroke="#000"
					d="M6.667 16h18.667"></path>
				<path fill="none" stroke-linejoin="round" stroke-linecap="round"
					stroke-miterlimit="4" stroke-width="2.6667" stroke="#000"
					d="M16 25.334l9.333-9.333-9.333-9.333"></path>
			</svg>

		</li>
	</ul>
</div>