<div class="page-btn_list">
	<button class="arrow-btn page-btn" data-nav='prev'>
		<i class="material-icons arr" data-nav='prev' style="">arrow_back</i>
	</button>
	<button class="page-btn hidden visually-hidden" data-nav='first'>1</button>
	<button class="page-btn ellipsis hidden visually-hidden">...</button>
	{{#each range}}
	<button class="page-btn" data-num='{{this}}'>{{this}}</button>
	{{/each}}
	<button class="page-btn ellipsis hidden">...</button>
	<button class="page-btn hidden" data-nav='last'>{{last}}</button>
	<button class="arrow-btn page-btn" data-nav='next'>
		<i class="material-icons arr" data-nav='next' style="">arrow_forward</i>
	</button>
</div>