{{!-- <div class="pagination-container container pagination-js"> --}}
	<ul class="page-btn_list">
		<li class="arrow-btn page-btn" data-nav='prev'>
			<i class="material-icons arr" style="">arrow_back</i>
			{{!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32">
				<title>arrow-left</title>
				<path fill="none" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" stroke-width="2.6667"
					stroke="#000" d="M25.333 16h-18.667"></path>
				<path fill="none" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" stroke-width="2.6667"
					stroke="#000" d="M16 25.334l-9.333-9.333 9.333-9.333"></path>
			</svg> --}}
		</li>
		<li class="page-btn hidden visually-hidden" data-nav='first'>1</li>
		<li class="page-btn ellipsis hidden visually-hidden">...</li>
		{{#each range}}
		<li class="page-btn" data-num='{{this}}'>{{this}}</li>
		{{/each}}
		<li class="page-btn ellipsis hidden">...</li>
		<li class="page-btn hidden" data-nav='last'>{{last}}</li>
		<li class="arrow-btn page-btn" data-nav='next'>
			<i class="material-icons arr" style="">arrow_forward</i>
			{{!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32">
				<title>arrow-left-1</title>
				<path fill="none" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" stroke-width="2.6667"
					stroke="#000" d="M6.667 16h18.667"></path>
				<path fill="none" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" stroke-width="2.6667"
					stroke="#000" d="M16 25.334l9.333-9.333-9.333-9.333"></path>
			</svg> --}}

		</li>
	</ul>
	{{!--
</div> --}}