<div class="backdrop-open">
  <div class="modal-team">
    <button class="modal-btn-close" type="button">
      <svg class="close-svg" width="100%" height="100%" viewBox="0 0 30 30" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M8 8L22 22" stroke="black" stroke-width="2" />
        <path d="M8 22L22 8" stroke="black" stroke-width="2" />
      </svg>
    </button>
    <div class="modal-management-container">
      <ul class="managment-list">
        <li class="management-item">
          <img src="../images/team-images/D.Nezvinskyi.jpg" alt="Project Teamlead" width="300"
            class="management-photo" />
          <div class="name-description">
            <h3 class="management-list-subtitle">Дмитрий Незвинский</h3>
            <p lang="en" class="management-list-description">Teamlead</p>
          </div>
        </li>

        <li class="management-item">
          <img src="../images/team-images/Rina.Ocean.jpg" alt="Scrum Master" width="300" class="management-photo" />
          <div class="name-description">
            <h3 class="management-list-subtitle">Катерина Торкаченко</h3>
            <p lang="en" class="management-list-description">Scrum Master</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="modal-worker-container">
      <ul class="workers-list">
        <li class="workers-item">
          <img src="../images/team-images/Yaroslav.jpg" alt="GoIT Student" width="270" class="workers-photo" />
          <div class="name-description">
            <h3 class="management-list-subtitle">Ярослав Мудрый</h3>
            <p lang="en" class="management-list-description">GoIT Student</p>
          </div>
        </li>
        <li class="workers-item">
          <img src="../images/team-images/Yana.Guzienko.jpg" alt="GoIT Student" width="270" class="workers-photo" />
          <div class="name-description">
            <h3 class="management-list-subtitle">Яна Гузиенко</h3>
            <p lang="en" class="management-list-description">GoIT Student</p>
          </div>
        </li>
        <li class="workers-item">
          <img src="../images/team-images/Pavel.Gromov.jpg" alt="GoIT Student" width="270" class="workers-photo" />
          <div class="name-description">
            <h3 class="management-list-subtitle">Павел Куц</h3>
            <p lang="en" class="management-list-description">GoIT Student</p>
          </div>
        </li>
      </ul>
      <ul class="modal-workers-container">
        <li class="workers-item">
          <img src="../images/team-images/Andrii.Torkotiuk.jpg" alt="GoIT Student" width="270" class="workers-photo" />
          <div class="name-description">
            <h3 class="management-list-subtitle">Андрей Торкотюк</h3>
            <p lang="en" class="management-list-description">GoIT Student</p>
          </div>
        </li>
        <li class="workers-item">
          <img src="../images/team-images/Andrii.Shemet.jpg" alt="GoIT Student" width="270" class="workers-photo" />
          <div class="name-description">
            <h3 class="management-list-subtitle">Андрей Шемет</h3>
            <p lang="en" class="management-list-description">GoIT Student</p>
          </div>
        </li>
        <li class="workers-item">
          <img src="../images/team-images/Denys.Tomenko.jpg" alt="GoIT Student" width="270" class="workers-photo" />
          <div class="name-description">
            <h3 class="management-list-subtitle">Денис Томенко</h3>
            <p lang="en" class="management-list-description">GoIT Student</p>
          </div>
        </li>
        <li class="workers-item">
          <img src="../images/team-images/V.Susulovskyi.jpg" alt="GoIT Student" width="270" class="workers-photo" />
          <div class="name-description">
            <h3 class="management-list-subtitle">Виталий Сусуловский</h3>
            <p lang="en" class="management-list-description">GoIT Student</p>
          </div>
        </li>
      </ul>
    </div>
  </div>