<div class="backdrop-open">

  <div class="modal-team">

    <button type=" button" class="modal-team-close-button">Close</button>

    <div class="team-modal-container">
      <ul class="team-modal-list">
        <li class="teamlead-modal-item">
          <img
            src="https://previews.dropbox.com/p/thumb/ABH7nrQ1FbsFO3dNwijd-k4ZuMqFwQnBTsxAbTULKqh2rlQqtxy-eRKlqr5nfVkosfnteBHd1kaCCye5Gb-nTTu2GVm8XdI9-PFEjQPOkmLHUstSNml3ZbAUyRBpxQ5YNSuwoffYeshUUGKZ8CkeAf5WA068EhRpUCYJtJI064sl5nXtbk8ZIPd1DzZOJqSQ2b6h2oZA_fclvyc3UIkqcgUspELPQSqVPpV6K2mUVI4qnrgRB8FSAXx2r5T9mLJOh7U02dThD3_TD6N-1wXfvgZnHdxulIbJN5Vj-trleyLF8KJASzYPVozp1svYvhatRYv5C6THstV4Q9zzBljPh25Ljypdj1wzdgt2e_YN8P1Fig/p.jpeg?fv_content=true&size_mode=5"
            alt="фото тимлида Дмитрия" width="100" class="workers-photo" />
          <div class="name-description">
            <h3 class="management-list-subtitle">Дмитрий</h3>
            <p lang="en" class="management-list-description">Team lead</p>
          </div>
        </li>

        <li class="team-modal-item">
          <img
            src="https://previews.dropbox.com/p/thumb/ABF6zqhVKY7QU6kaI6h5zN-8_KVYGs-1l-3YIy1Cl82Q5mDNyuKAjEftZIl9bLzSjngVnQ-vpyKCZPYSG96FGR9R20MPtHZLWsl4ksyWYU7ZSHG81kLKJVjAcGFRPThhHyJRfj-LL_LiPr0sebGuBwm5oIE7f3DWK8I8zjJBa0xv14Y8uHwORlgQRIv00pAP7NbaoKpaMlpp6EUEJB3gyRkrZhFGcerFdOoGwgYQ_vJlAb0d5PfdYUHXjO9DPDiXeE-Ow4vBgzr_06ZcjA2ILZBUtCOzHZyN-iwm0JunHnfGRFPqNvZQzGgyYmOXMY4x5mVktB07CFtj0EukCaZgpRC58rpGdO6W-uUc8xYfLqx7iw/p.jpeg?fv_content=true&size_mode=5"
            alt="фото скрам - мастера Катерины" width="100" class="workers-photo" />
          <div class="name-description">
            <h3 class="management-list-subtitle">Катерина</h3>
            <p lang="en" class="management-list-description">Scrum Master</p>
          </div>
        </li>

        <li class="team-modal-item">
          <img
            src="https://previews.dropbox.com/p/thumb/ABE_0Izasly1sKptdHZLKkeWEjWlzLjIcGtI6ud2KpiMB1jlOs60Kh6gwIKL_TjDIs07Vv2OBZFsRrk9YLAV-wdMZkkQqFcqh-_U87DDNjNOEbGBHbumwQq3eajVsRaYym91EiolyCmRfD2gst5BMaaBb8aMYKU1f08BcT6f0lT0pp8DK5Ye70D5iVM8Xvm12pt70XfjVj3phD06phHe1lUJ7Ht2Y8AuK51cSKQ11Lag4e299073NMzeq0Lzq9uKKtkkJORbaGyugSarE4EOx-_4ONa1FlvkUfXQW390jb1gAHY8D9wsYa6odXEzJm9x6JRA-Lfp7cF5aQlOffA8VdatsnARiIqaX398x7ovllo2OQ/p.jpeg?fv_content=true&size_mode=5"
            alt="фото студента Ярослава" width="100" class="workers-photo" />
          <div class="name-description">
            <h3 class="management-list-subtitle">Ярослав</h3>
            <p lang="en" class="management-list-description">Developer</p>
          </div>
        </li>

        <li class="team-modal-item">
          <img
            src="https://previews.dropbox.com/p/thumb/ABGPnVBWWNByfAAFpvgCG4b5t4SUIjxzMi6OCdjw8QPv-i-0CTBlyGBF52YxvrwR_TlaWpx18gyjGYX7qmV4xLqQxGt6lbNwjS82ahtiCN60b5uk98j3l6WGGyH3L9QT6VhcjMmWs3uVVGbSsp20GRv7S2kzwcZyUJbmdkDCQwW4RlnLbnZ9skBvecIlNygwklRepbZlVJfVcD4mdQm6xQabVtPzyjMOzTU7nvWbBY3PDH59OceffMNFSFaqpQUE51dgFOSW86Nqg4HLgdJWGHWlNeBroJ8HEr4TSKIX3n528jNd33cTG2eei5OrJUdEnehzD5XyBjUixrjOhmZcAA8uWFiORqBLEG5VReDbFxptqQ/p.jpeg?fv_content=true&size_mode=5"
            alt="фото студента Андрея" width="100" class="workers-photo" />
          <div class="name-description">
            <h3 class="management-list-subtitle">Андрей</h3>
            <p lang="en" class="management-list-description">Developer</p>
          </div>
        </li>
        <li class="team-modal-item">
          <img
            src="https://previews.dropbox.com/p/thumb/ABHj-OJ3pEYAENoxHbrNEIuk1AkOxaccKz2xCy1OHfEPRp8U42Uhzp8-kkLOZXc8Ew-RKpl-Q8m1tgeXEzEsXIibzGV1-FgilOKlkLgInEwZsmLowSSe8NwDOIV6bSp9cQ1jDbuPHbozzzMA2VzHsqiynJLsYfYnx0Tmss8soL4oVBzKzwsrI35tjv8MwV5VjZ0LX15Ym4bk4Z4ACLHoKUurLCi_pmZhle3WTWKciPVi635Io2jww7QVDpIdwoepRmhdbQ0q_ophedEmHVg0tgoZ8FSTrlcNQmlOm6izZGwKOs1aM-Um62sIOz4lub6sdDuKSdR3yBnF2Ux9HN9pfJIijRIMvCw60lv16RwZe4Q9Mg/p.jpeg?fv_content=true&size_mode=5"
            alt="фото студентки Яны" width="100" class="workers-photo" />
          <div class="name-description">
            <h3 class="management-list-subtitle">Яна</h3>
            <p lang="en" class="management-list-description">Developer</p>
          </div>
        </li>
        <li class="team-modal-item">
          <img
            src="https://previews.dropbox.com/p/thumb/ABGcU5e38V-4puWbcTXWfmfszTiMsS-tMOSDCuJEfaoAvoXDlcSqHsqQGmkP0k3y_NOYTeKBnEhEdWO2pByytEU3lEu2gPCBSXF3tNj56tHQJ_dI6Ppf5WuDEDSJxIaCeqw7xISeqFjKhN-ytgjAiSuNiiHwEpL8KLdXTl06QxK82_FdOChgI28pQB2CvFAZ1npnFpqkK0MKFsOwGTe6M3UsIq-oYklv1b7qaxeol3Gg_Cgd-vDiW0MrsNiJ3Z0GnfYsy05K2hZ-JzxOhErqZNYJ_kUJYf-vPJ2DwdbMhOjp6PaNE2xOmy2c1j0bIMdCWAw5Tx4IJJ4h-Tp3xJvae_yrkDeCj7_C88qwGwDsWR9xDA/p.jpeg?fv_content=true&size_mode=5"
            alt="фото студента Павла" width="100" class="workers-photo" />
          <div class="name-description">
            <h3 class="management-list-subtitle">Павел</h3>
            <p lang="en" class="management-list-description">Developer</p>
          </div>
        </li>

        <li class="team-modal-item">
          <img
            src="https://previews.dropbox.com/p/thumb/ABHk1Z-zfUP5ujfGpYYU8pGa-w5Dzz1Pd4cdOzqrjvMhu1Rew9oxV-nWA3MTtmr2lDyBucG0v0LFKMvapUHKfRS6o3xdyrIPlRfQw9OJmMQRESdCTSYQH95YwCqJ8CyltZLPML0GJYKxgseoG8k5uDKHB7KzBT2McUfJAEmKpsKyuNASOpI4WWrGXlWw_TFpwA0lLZMe8i8E8r96VWh9QjXDSe7aJ7CLwejSQVK2hSSa_pjTniv6nFnAs-_7NXfTb9UJdCsM5JRSUR1sMKFcAlRG5OR99jo0-RC_lbUS1m-nxoyiRxdtMx2XpyJTs1UovmutylWOkYnv8PDiDUNRXzfzf1bj6N1KJ1LCm6AEu50b4A/p.jpeg?fv_content=true&size_mode=5"
            alt="фото студента Андрея" width="100" class="workers-photo" />
          <div class="name-description">
            <h3 class="management-list-subtitle">Андрей</h3>
            <p lang="en" class="management-list-description">Developer</p>
          </div>
        </li>
        <li class="team-modal-item">
          <img
            src="https://previews.dropbox.com/p/thumb/ABFVQ3-rpVgY19lrmt0jhQk32R9HtzjE1F8omqsinqDUFyz9xgiZjQFTtHZDfWhdzgJHIbcyY_inpU3Vat7CfwYtWDw2aUS8UqCc9C_Xw29SlUTAMH1nnwt6cB5MO_G0U10urgEV2lYkUCqx-uB8_Yfy39Co8QBAumTAoSNfCzVNklkq5L0HGghTGVu01Rve1PaaXtVLHltqSrJvgITElZo0o1EAYtoLSsb_irnPz4WfPbGmQ_hWQ_Am0sDQA0VYpRF1peIXTXwyKCv4wE9ibclubRkEZTZMSX-wUORlcmbwofIowYIzwUJVfel7_CFBz2DcCLnc99IZbFoL9KqDyqNCsoyOKHFA4-VAoMtdpEEqMQ/p.jpeg?fv_content=true&size_mode=5"
            alt="фото студента Дениса" width="100" class="workers-photo" />
          <div class="name-description">
            <h3 class="management-list-subtitle">Денис</h3>
            <p lang="en" class="management-list-description">Developer</p>
          </div>
        </li>
        <li class="team-modal-item">
          <img
            src="https://previews.dropbox.com/p/thumb/ABGg17IL5LSvV5WrUN_Xq2yGVhbW-ihDkKNLjbAtQFkt2uWUXyCwDctlKerHkS0As-RWu9BhkBp3fX4E0hIjphhz-znBIDM9Amhf6bSHsl50y_HvOEVBfNflonWtBHxR75xtul31iNeQm5ueL85HeIXPz7tGMSaLj-1n6LlFMAzRfyIWIBW_x9PiWVenZt7q2aVFERBzt9uWFbUtj2RtqbQU2ZzJqRPGnpQaNrTS1jddCCfPvxqALUzAn51WZQVZwg-L8sW4mpXExoKRB-XgTddqdHeqWtzUa-kUOj3CN1ZGwPh2KAPL1wxic0Xd4JdQXgiLA0RFzujN9vn_PnwGik_a2xe0eeMwKJdG5WksbCTfbw/p.jpeg?fv_content=true&size_mode=5"
            alt="фото студента Виталия" width="100" class="workers-photo" />
          <div class="name-description">
            <h3 class="management-list-subtitle">Виталий</h3>
            <p lang="en" class="management-list-description">Developer</p>
          </div>
        </li>
      </ul>
    </div>
  </div>