.wrapper-btn-header,
.wrapper-btn-modal {
  display: inline-flex;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  box-sizing: border-box;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0);

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  &:first-child {
    margin-right: 15px;
  }
  @media screen and (max-width: 767px) {
    &-modal:first-child {
      margin-right: 20px;
    }
  }

  &-header {
    width: 130px;
    height: 44px;
    color: #ffffff;
    border: 1px solid #ffffff;

    @media screen and (min-width: 768px) {
      width: 136px;
    }
  }

  &-modal {
    width: 112px;
    height: 44px;
    color: #000000;
    border: 1px solid #000000;
    @media screen and (min-width: 768px) {
      width: 124px;
    }
    @media screen and (min-width: 1024px) {
      width: 136px;
    }
  }

  &-active-page {
    background: $accent-color;
    border: 1px solid $accent-color;
    color: #ffffff;
  }
}
