.card-info {
  display: flex;
  justify-content: flex-start;
  margin-top: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: $accent-color;
}

.card-img {
  display: block;
  border-radius: 5px;
  cursor: pointer;
  @media screen and (max-width: 767px) {
    width: 280px;
    height: 398px;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 294px;
    height: 398px;
  }
  @media screen and (min-width: 1024px) {
    width: 274px;
    height: 398px;
  }
}

.card-title {
  margin-top: 10px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: $primary-color;
}

.genre-id {
  cursor: pointer;
  margin-right: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: $accent-color;
  transition-property: color, transform;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.genre-id:hover,
.genre-id:focus {
  transform: scale(1.1);
  text-decoration: underline;
  color: $primary-color;
}

.card-symb {
  margin-right: 4px;
}

.film-date {
  margin-right: 10px;
  cursor: pointer;
}

.card-raiting {
  background: $btn-color;
  border-radius: 5px;
}

.film-raiting {
  margin: 1px 6px 1px 6px;
  line-height: 14px;
  color: $secondary-color;
}

.container-film {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 767px) {
    justify-content: center;
    padding: 20px 0 40px 0;
  }
  @media screen and (min-width: 768px) {
    padding: 60px 0 50px 0;
  }
}

.card-film {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.card-film:not(:nth-child(2n)) {
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin-right: 30px;
  }
}

.card-film:not(:nth-child(3n)) {
  @media screen and (min-width: 1024px) {
    margin-right: 30px;
  }
}
