.header {
  height: 230px;
  padding-top: 43px;
  padding-bottom: 41px;
  text-align: center;

  background-image: $header-shadow,
    url('../images/home/mobile/header-bg-home-mobile.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $primary-color;

  font-family: Roboto;
  font-style: normal;
  color: $secondary-color;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: $header-shadow,
        url('../images/home/mobile/header-bg-home-mobile-2x.jpg');
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 384dpi),
      screen and (min-resolution: 3dppx) {
      background-image: $header-shadow,
        url('../images/home/mobile/header-bg-home-mobile-3x.jpg');
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    background-image: $header-shadow,
      url('../images/home/tablet/header-bg-home-tablet.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: $header-shadow,
        url('../images/home/tablet/header-bg-home-tablet-2x.jpg');
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 384dpi),
      screen and (min-resolution: 3dppx) {
      background-image: $header-shadow,
        url('../images/home/tablet/header-bg-home-tablet-3x.jpg');
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: $header-shadow,
      url('../images/home/desktop/header-bg-home-desktop.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: $header-shadow,
        url('../images/home/desktop/header-bg-home-desktop-2x.jpg');
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 384dpi),
      screen and (min-resolution: 3dppx) {
      background-image: $header-shadow,
        url('../images/home/desktop/header-bg-home-desktop-3x.jpg');
    }
  }

  &-nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &-logo-wrapper {
    display: flex;

    align-items: baseline;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    cursor: pointer;

    @extend %transition;
  }

  &-logo-wrapper:hover,
  &-logo-wrapper:focus {
    transform: scale(1.1);
    @extend %transition;
  }

  &-logo-svg {
    stroke-width: 1px;
    stroke: #818181;
  }

  &-logo-title {
    display: none;
    margin-left: 10px;
    @media screen and (min-width: 768px) {
      display: inline-block;
    }
  }

  &-search-button {
    position: absolute;

    right: 2px;
    width: 12px;
    height: 12px;

    border-style: none;
    background-color: transparent;
    outline-style: none;

    cursor: pointer;
    @extend %transition;
  }

  &-search-svg:hover,
  &-search-svg:focus {
    transform: scale(1.5);
    @extend %transition;
  }

  &-list {
    display: flex;

    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;

    &-item {
      cursor: pointer;
    }

    &-item:first-child {
      margin-right: 39px;
    }

    &-item:hover,
    &-item:focus {
      border-bottom: 3px solid $accent-color;
    }
  }

  &-search-form {
    position: relative;

    display: inline-flex;
    margin-top: 41px;
  }

  &-form {
    display: inline-block;
  }

  &-input {
    min-width: 280px;
    margin-bottom: 22px;

    outline: 0px;
    color: $secondary-color;
    background-color: transparent;
    border: 0.5px solid transparent;
    border-bottom: 0.5px solid $secondary-color;
    border-radius: 0;

    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    &:hover,
    &:focus {
      border-bottom: 1px solid $accent-color;
    }
    @media screen and (min-width: 768px) {
      width: 336px;
    }
  }

  &-notification {
    display: inline-block;
    margin-bottom: 22px;
    color: #ff001b;
    text-align: left;
  }
}

.header-content-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.current-page {
  border-bottom: 3px solid $accent-color;
}

.library-header {
  background-image: $header-shadow,
    url('../images/library/header-bg-mobile/header-bg-mobile.jpg');

  @media screen and (min-width: 320px) and (max-width: 767px) {
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: $header-shadow,
        url('../images/library/header-bg-mobile/header-bg-mobile-2x.jpg');
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 384dpi),
      screen and (min-resolution: 3dppx) {
      background-image: $header-shadow,
        url('../images/library/header-bg-mobile/header-bg-mobile-3x.jpg');
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    background-image: $header-shadow,
      url('../images/library/header-bg-tablet/header-bg-tablet.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: $header-shadow,
        url('../images/library/header-bg-mobile/header-bg-mobile-2x.jpg');
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 384dpi),
      screen and (min-resolution: 3dppx) {
      background-image: $header-shadow,
        url('../images/library/header-bg-mobile/header-bg-mobile-2x.jpg');
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: $header-shadow,
      url('../images/library/header-bg-desktop/header-bg-desktop.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: $header-shadow,
        url('../images/library/header-bg-desktop/header-bg-desktop-2x.jpg');
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 384dpi),
      screen and (min-resolution: 3dppx) {
      background-image: $header-shadow,
        url('../images/library/header-bg-desktop/header-bg-desktop-3x.jpg');
    }
  }
}
// notification icons
.material-icons {
  color: $secondary-color !important;
}

// стили для скролла вверх

.scroll-up {
  position: fixed;
  bottom: 20px;
  right: 20px;

  font-weight: bold;

  border-radius: 20%;
  border-style: none;
  outline-style: none;
  width: 40px;
  height: 50px;
  padding: 7px 0px 7px 0px;
  opacity: 0;
  background-color: rgb(255, 107, 8, 0.6);

  cursor: pointer;
  transition: all 0.5s ease-in;

  &-icon {
    font-size: 36px;
  }
}

.scroll-up:hover {
  background-color: $accent-color;
}

.library-inittext {
  padding-bottom: 24px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  color: #ff8d0b;

  // margin: 0 0.5rem;
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}

.library-choosetext {
  color: green;
}
