.basicLightbox {
  overflow-y: scroll;
}
.team-modal-container {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 240px;
    height: 800px;
  }
}

.modal-team {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 240px;
    transform: translate(0px, 160px);
    height: 800px;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    transform: translate(0px, 250px);
    width: 400px;
  }
}

.team-modal-list {
  display: flex;
  flex-wrap: wrap;
  background-color: beige;
  border-radius: 5px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 240px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 400px;
  }

  @media screen and (min-width: 1024px) {
    width: 600px;
  }
}
.teamlead-modal-item {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 1);
}
.team-modal-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 40px;
  padding-bottom: 20px;
  width: calc((100% - 80px) / 1);

  @media screen and (min-width: 768px) {
    width: calc((100% - 160px) / 2);
  }

  @media screen and (min-width: 1024px) {
    margin: 15px 30px;

    width: calc((100% - 240px) / 4);
  }
}

.workers-photo {
  margin-bottom: 10px;
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.management-list-subtitle {
  margin-bottom: 5px;
  text-align: center;
  font-weight: 500;
}

.management-list-description {
  text-align: center;
  margin-bottom: 10px;
  font-style: italic;
  color: $accent-color;

  @media screen and (max-width: (767px)) {
    font-size: 14px;
  }
}

.modal-team-close-button {
  position: absolute;
  top: 2%;
  right: 2%;
  display: flex;
  border: none;
  background-color: transparent;
  color: $accent-color;
  cursor: pointer;
}
