.basicLightbox {
  overflow-y: scroll;
}
// .team-modal-container {
//   padding-top: 0px;
// }

.modal-team {
  // cursor: pointer;
  transform: translate(0px, 400px);
}

.team-modal-list {
  display: flex;
  flex-wrap: wrap;
  background-color: beige;
  border-radius: 5px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-top: 70px;
    width: 240px;
    // transform: translate(0px, 400px);
    // height: 1400px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 400px;
    // height: 1200px;
    border-radius: 5px;
  }

  @media screen and (min-width: 1024px) {
    width: 600px;
  }
}
.teamlead-modal-item {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 1);
}
.team-modal-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 40px;
  padding-bottom: 20px;
  width: calc((100% - 80px) / 1);

  @media screen and (min-width: 768px) {
    width: calc((100% - 160px) / 2);
  }

  @media screen and (min-width: 1024px) {
    margin: 15px 30px;

    width: calc((100% - 240px) / 4);
  }
}

.workers-photo {
  margin-bottom: 10px;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

.management-list-subtitle {
  margin-bottom: 5px;
  text-align: center;
  font-weight: 500;
}

.management-list-description {
  text-align: center;
  margin-bottom: 10px;
  font-style: italic;
  color: $accent-color;

  @media screen and (max-width: (767px)) {
    font-size: 14px;
  }
}
// .modal-team {
//   position: absolute;
//   z-index: 999;
//   left: 50%;
//   font-family: $primary-font;
//   font-style: normal;
//   color: $primary-color;
//   background-color: rgb(235, 208, 119);
//   border-radius: 10px;

//   @media screen and (min-width: 320px) and (max-width: 767px) {
//     width: 280px;
//     height: 1700px;
//     transform: translate(-50%, 0px);
//   }

//   @media screen and (min-width: 768px) and (max-width: 1023px) {
//     display: flex;
//     width: 618px;
//     height: 600px;
//     transform: translate(-50%, 50px);
//     overflow-y: auto;
//   }

//   @media screen and (min-width: 1024px) {
//     display: flex;
//     width: 882px;
//     height: 600px;
//     transform: translate(-50%, 0px);
//     // overflow-y: hidden;
//   }
// }

// .team-modal-container {
//   margin: 0 auto;
//   margin-top: 40px;
//   // padding-top: 10px;
//   // outline: 1px solid green;
//   justify-content: center;
// }

// .team-modal-list {
//   // margin-top: 20px;
//   margin: 0 auto;
//   display: flex;
//   flex-wrap: wrap;
//   // outline: 1px solid purple;

//   @media screen and (max-width: (767px)) {
//     margin-top: 70px;
//     width: 240px;
//   }

//   @media screen and (min-width: 768px) {
//     width: 600px;
//   }

//   @media screen and (min-width: 1024px) {
//     width: 800px;
//   }
// }
// .teamlead-modal-item {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: calc(100% / 1);
// }
// .team-modal-item {
//   // position: relative;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   margin: 10px 40px;
//   width: calc((100% - 80px) / 1);

//   @media screen and (min-width: 768px) {
//     width: calc((100% - 160px) / 2);
//   }

//   @media screen and (min-width: 1024px) {
//     margin: 15px 30px;

//     width: calc((100% - 240px) / 4);
//   }
// }

// .management-list-subtitle {
//   margin-top: 5px;
//   text-align: center;
//   font-family: $primary-font;
//   font-style: normal;
// }

// .management-list-description {
//   margin-top: 5px;
//   text-align: center;
//   font-family: $primary-font;
//   font-style: italic;
//   color: #ff6b08;
// }

// .workers-photo {
//   margin-bottom: 10px;
//   height: 100px;
//   width: 100px;
//   border-radius: 50%;
//   &:hover,
//   &:focus {
//     transform: scale(1.2);
//   }
// }

.modal-team-close-button {
  position: absolute;
  top: 2%;
  right: 2%;
  display: flex;
  border: none;
  background-color: transparent;
  color: $accent-color;
  cursor: pointer;
}
